header {
  background-color: #202020;
  color: aliceblue;
}

body {
  width: fit-content;
  height: fit-content;
  background: linear-gradient(#242424, #555454, #908f8f, #555454,#242424 );
  color: white !important;
}

.cabecalho .nav-personalizada {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.4)
}

.cabecalho .container-personalizada img {
  width: 70px;
  margin-left: 15px;
}

.cabecalho a {
  color: #e7e2f0;
}

.cabecalho .menu-personalizado a:hover {
  color: #c1abeb;

}

.container-personalizada .button-nav {
  background-color: rgba(238, 227, 222, 0.644);
}

.menu-principal{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 20px #343333; 

}

.menu-principal-donkeykong {

  background-image: url("./imagens/donkey-kong-background.jpg");

}

.menu-principal-mario {

  background-image: url("./imagens/super-mario-plano-de-fundo.jpg");

}

.menu-principal-sonic {

  background-image: url("./imagens/sonic-plano-de-fundo.jpg");

}

.menu-principal-street-fighter {

  background-image: url("./imagens/street-fighter-background.jpg");

}

.menu-principal-pacman {

  background-image: url("./imagens/pacman-plano-de-fundo.jpg");

}

.menu-principal-zelda {

  background-image: url("./imagens/zelda-background.jpg");

}


.botoes-navegacao {
  font-size: 28px;
  color: #343333;
  padding: 16px 60px;
  background-color: #fb9f1dca;
  border: none;
  border-radius: 40px;
  transition: 1s;
}

.botoes-navegacao:hover{
  background-color: #ffb348f8;
  scale: 1.06;
  box-shadow: 7px 7px #343333;

}


.voltar-ao-topo {
  color: white;
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.206);
  font-size: 16px;
  padding: 1em;
  border-radius: 20px;
  /* display: none; */
}
.voltar-ao-topo:hover {
  background-color: rgba(77, 76, 76, 0.6);
  color: white;
}

.container-config, .video-config {
 margin: 0px !important;
 padding: 0 !important;
 

}

.row-config{
  width: 100vw;
  padding: 20px 60px;
  /* gap: 10px; */
  
  
}

.row-config h1{
padding: 60px 0;
margin-left: 0 !important;
margin-right: 0 !important;
  
}
.descricao{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  color: white;
}

.descricao img{
 width: 200px;

}

.gif-zelda{
  width: 250px !important;
}
.gif-street{
  width: 250px !important;

}
.texto-descricao{
  padding: 20px !important;
  font-size: 18px;
  text-align: justify;
  background-color: #5d5c5c64;
  border-radius: 20px;
  

}

.info-criadores img{
  width: 100%;
  max-width: 500px;
  height: 80%;
  border-radius: 20px;
 
}

.info-criadores, .info-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
  border-radius: 20px;
  transition: 1s;
}

.info-criadores:hover{
  /* width: 300px; */
  background-color: #5c5a5a;
  scale: 1.02;
  border-style: ridge;
  border: 3px #42fd7a;
  
}




.info-video{
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-video iframe{
  width: 95%;
  max-width: 1200px;
  height: 650px;
  border-radius: 20px;

}
.video-config{
  margin: 0 !important;
}
.row-config-video{
  transition: 1s;
}
.row-config-video:hover{

  background-color: #5c5a5a;
}

.rodape{
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #202020;
  padding: 15px;
}

.rodape p{
margin: 0;
}

@media (max-width: 1200px){

    .info-criadores img{
      width: 500px;
      height: 360px;
  }

  .info-criadores h2{
      padding-bottom: 20px;
  }

  .info-video iframe{
   
    height: 500px;
   
  }
}


@media (max-width: 720px){

  .menu-principal{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
  }

  .botoes-navegacao {
      font-size: 16px;
  }

  .row-config {
      padding: 10px;
      margin-left: 0 !important;
  }
  .row-config h1{
      text-align: center;
  }

  .info-criadores img{
      width: 300px;
      height: 200px;
  }

  .info-video iframe{
     
      height: 300px;
  }

}
